@using TextMessenger.DataLayer.DTOs.ChatDTOs;
@model SelectedChatDTO
@{
    ViewData["Title"] = "_MessageListPartial";
}
<ul class="list-group message-list pb-4">
    <li class="list-group-item" name="empty_message">
        <div class="row">
            <div class="col-md-6">
                <span class="fw-bold" name="nickname"></span>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <span class="fw-light" name="date"></span>
            </div>
        </div>
        <div class="row">
            <span class="col-md-12" name="message"></span>
        </div>
    </li>
    @if (Model != null)
    {
        Model.ChatMessages.Reverse();
        foreach (var message in Model.ChatMessages)
        {
            if (message.IsSystem)
            {
                <li class="list-group-item system-message" name="@message.MessageId">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="fw-bold" name="nickname"></span>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <span class="fw-light" name="date"></span>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-12" name="message">@message.Text</span>
                    </div>
                </li>
            }
            else
            {
                if (message.MessageCreatorId == Model.UserId)
                {
                    <li class="list-group-item personal-message" name="@message.MessageId">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="fw-bold" name="nickname">@message.UserNickname</span>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <span class="fw-light" name="date">@message.Date</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-md-12" name="message">@message.Text</span>
                        </div>
                    </li>
                }
                else
                {
                    <li class="list-group-item other-user-message" name="@message.MessageId">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="fw-bold" name="nickname">@message.UserNickname</span>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <span class="fw-light" name="date">@message.Date</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-md-12" name="message">@message.Text</span>
                        </div>
                    </li>
                }
            }
        }

    }
</ul>
